/* Default rulesets */
*::before, *::after {
    box-sizing: inherit;
    outline: none;
}

html, body, div, p, h2, a, ul, li, img {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

body {
    overflow-anchor: none;
    display: block;
    background: #fff;
    color: #484848;
    min-height: 100%;
    font-size: .875rem;
    line-height: 1.57;
    font-family: 'Noto IKEA', 'Noto Sans', 'Roboto', 'Open Sans', -apple-system, sans-serif !important;
}

#main {
    outline: 0
}

/* having this container centers all content within the parent (main) */
#page-container {
    max-width: 112rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1.25 rem;
    border: solid 1px red;
}

#page-grid-container {
    display: grid;
    grid-column-gap: 1.25rem;
    grid-template-columns: repeat(13, minmax(0,1fr));
}

#content-container {
    display: block;
    grid-column: 2/14;
    grid-row: 1;
    border: solid 1px purple;
}

#nav-container {
    margin-bottom: 4rem;
    border: solid 1px blue;
}

#nav-list {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    width: 100%;
    padding: 1rem 0;
}

.nav-item {
    display: inline;
    max-width: 100%;
    margin: 0;
    padding-left: 0;
    /* text-align: -webkit-match-parent */
    border: solid 1px darkgrey;
}

#product-grid-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-column-gap: 1.25rem;
    border: solid 1px darkgreen;
}

#product-carousel {
    display: flex;
    order: 0;
    grid-column-start: 1;
    grid-column-end: span 8;
    grid-row: 1;
    position: relative;
    flex-wrap: wrap;
    margin: 0 .625rem 1.25rem;
    border: solid 1px darkorange;
}

.product-carousel-item {
    flex: none;
    /* try .625rem without border */
    margin: 0 .56rem 1.25rem;
    width: calc(50% - 1.25rem);
    border: solid 1px cyan;
}

.product-carousel-border {
    cursor: pointer;
    padding-bottom: 100%;
    width: 100%;
    position: relative;
    height: auto;
    display: block;
    background: #f5f5f5;
    box-sizing: border-box;
}

#product-purchase {
    grid-column-start: 9;
    grid-column-end: span 4;
    grid-row-start: 1;
    position: sticky;
    top: 6rem;
    padding: 0 2.5rem;
    grid-row-end: span 2;
    align-self: flex-start;
}

#product-description {
    grid-row: 4;
    grid-column-end: span 8;
    border: solid 1px pink;
}

#product-purchase-price {
    margin-bottom: 2.5rem;
}

#product-purchase-stylepicker {
    margin-bottom: 1.25rem;
}

#stylepicker-modaler-button {
    display: flex
    /* a whole bunch of other options........ */
}

#stylepicker-style-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
}

/* incomplete */
#stylepicker-modaler-button {
    display: block;
}

/* incomplete */
#stylepicker-style-container {
    display: block;
}

#product-purchase-buyer {
    margin-bottom: 1.25rem;
}

#product-purchase-availability {
    margin-bottom: 1.25rem;
}

#availability-delivery {
    border-bottom: 1px solid #dfdfdf;
}

#availability-stock {
    border-bottom: 1px solid #dfdfdf;
}

/* incomplete */
#availability-assembly {
    display: block;
}

/* incomplete */
#stylepicker-variants {
    display: inline-block;
}

/* incomplete */
.stylepicker-variant-item {
    display: block;
}

/* 
 * 
 * Controls for dynamic display (page responds to growing smaller by making one column out of all content)
 *
 */

@media (min-width: 75 em) {
    #page-container {
        padding: 0 2.5rem 0 1.25rem;
    }

    #grid-container {
        margin: 0;
        display: grid;
        grid-column-gap: 1.25rem;
        grid-template-columns: repeat(13, minmax(0,1fr));
    }

    /* #content-container {
        grid-column: 2/14;
        grid-row: 1;
    } */
}
    
@media (min-width: 56.25 em) {
    #page-container {
        padding: 0 3rem;
    }

    /* #product-grid-container {
        grid-template-columns: repeat(12, minmax(0,1fr));
        grid-column-gap: 1.25rem;
    } */
}
    
@media (min-width: 37.5 em) {
    #page-container {
        padding: 0 2rem;
    }
    
    /* #product-grid-container {
        grid-template-columns: repeat(12, minmax(0,1fr));
        grid-column-gap: 1.25rem;
    } */
}