.DS_STORE
.vscode
node_modules
client/dist/mainDescription.*.css
client/dist/container.bundle*
client/dist/mainDescription.bundle*

# env
.yo-rc.json
server/db/sampleData.json

#  SDC

server/sdc/db/db.config.js

server/sdc/csvData/products.csv
server/sdc/csvData/images.csv
server/sdc/csvData/breadcrumbs.csv
server/sdc/csvData/variants.csv

server/sdc/csvData/batches

# new relic

newrelic*
